@{
    ViewBag.Title = "Home Page";
}

<h1>SAM Demo's</h1>
<p>Most of the original SAM samples use node.js server.</p>
<p>Some of those samples are implemented here with a .NET backend</p>
<ul>
    <li><a href="/Home/Demo1">Demo 1</a>: implements https://github.com/jdubray/sam-samples/tree/master/crud-blog with client-side model</li>
    <li><a href="/Home/Demo2">Demo 2</a>: implements https://github.com/jdubray/sam-samples/tree/master/crud-blog with server-side model</li>
</ul>