@{
    ViewBag.Title = "Home Page";
}

<h1>SAM Demo's</h1>
<p>Most of the original SAM samples use node.js server. Some of those samples are implemented here with a .NET backend.</p>
<p>As a base I used a regular .NET Visual Studio web project, with MVC 5 and WebApi support.</p>

<h2><a href="/Home/Demo1">Demo 1</a></h2>
<p><a href="/Home/Demo1">Demo 1</a> implements https://github.com/jdubray/sam-samples/tree/master/crud-blog with client-side model</p>
<p>This is a simple demo. All the logic has been implemented on the client.</p>

<h2><a href="/Home/Demo2">Demo 2</a></h2>
<p><a href="/Home/Demo2">Demo 2</a> implements https://github.com/jdubray/sam-samples/tree/master/crud-blog with server-side model</p>
<p>This is exactly the same demo as Demo1, but in Demo2.cshtml I commented out the lines to enable server side support (just compare files Demo1.cshtml and Demo2.cshtml to see what I mean)</p>
<p>Hence I created a Demo2 apicontroller (Demo2Controller.cs) and migrated all the relevant code from the blog.js into this controller. </p>
<p>Not all features are working, as there is no Db attached. But it gives an idea how this might work.</p>
<p>In this demo Actions are still client side, but Presenter, Model and the State function are server side. </p>
<h3>Note of experience</h3><p> The current implementation of the State(function), with hardcoded, compiled html, is very inconvenient to work with. One has to recompile on every change.</p>